/spaceinvader/[Ll]ibrary/
/spaceinvader/[Tt]emp/
/spaceinvader/[Oo]bj/
/spaceinvader/[Bb]uild/
/spaceinvader/[Bb]uilds/
/spaceinvader/[Ll]ogs/
/spaceinvader/[Uu]ser[Ss]ettings/
/spaceinvader/[Mm]emoryCaptures/
/spaceinvader/[Rr]ecordings/
/spaceinvader/[Aa]ssets/Plugins/Editor/JetBrains*
/spaceinvader/.vs/
/spaceinvader/.gradle/
/spaceinvader/ExportedObj/
/spaceinvader/.consulo/
/spaceinvader/*.csproj
/spaceinvader/*.unityproj
/spaceinvader/*.sln
/spaceinvader/*.suo
/spaceinvader/*.tmp
/spaceinvader/*.user
/spaceinvader/*.userprefs
/spaceinvader/*.pidb
/spaceinvader/*.booproj
/spaceinvader/*.svd
/spaceinvader/*.pdb
/spaceinvader/*.mdb
/spaceinvader/*.opendb
/spaceinvader/*.VC.db
/spaceinvader/*.pidb.meta
/spaceinvader/*.pdb.meta
/spaceinvader/*.mdb.meta
/spaceinvader/sysinfo.txt
/spaceinvader/*.apk
/spaceinvader/*.aab
/spaceinvader/*.unitypackage
/spaceinvader/*.app
/spaceinvader/crashlytics-build.properties
/spaceinvader/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/spaceinvader/[Aa]ssets/[Ss]treamingAssets/aa.meta
/spaceinvader/[Aa]ssets/[Ss]treamingAssets/aa/*


.vs/


/flappybird/[Ll]ibrary/
/flappybird/[Tt]emp/
/flappybird/[Oo]bj/
/flappybird/[Bb]uild/
/flappybird/[Bb]uilds/
/flappybird/[Ll]ogs/
/flappybird/[Uu]ser[Ss]ettings/
/flappybird/[Mm]emoryCaptures/
/flappybird/[Rr]ecordings/
/flappybird/[Aa]ssets/Plugins/Editor/JetBrains*
/flappybird/.vs/
/flappybird/.gradle/
/flappybird/ExportedObj/
/flappybird/.consulo/
/flappybird/*.csproj
/flappybird/*.unityproj
/flappybird/*.sln
/flappybird/*.suo
/flappybird/*.tmp
/flappybird/*.user
/flappybird/*.userprefs
/flappybird/*.pidb
/flappybird/*.booproj
/flappybird/*.svd
/flappybird/*.pdb
/flappybird/*.mdb
/flappybird/*.opendb
/flappybird/*.VC.db
/flappybird/*.pidb.meta
/flappybird/*.pdb.meta
/flappybird/*.mdb.meta
/flappybird/sysinfo.txt
/flappybird/*.apk
/flappybird/*.aab
/flappybird/*.unitypackage
/flappybird/*.app
/flappybird/crashlytics-build.properties
/flappybird/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/flappybird/[Aa]ssets/[Ss]treamingAssets/aa.meta
/flappybird/[Aa]ssets/[Ss]treamingAssets/aa/*



/Lucas_SuperMario/[Ll]ibrary/
/Lucas_SuperMario/[Tt]emp/
/Lucas_SuperMario/[Oo]bj/
/Lucas_SuperMario/[Bb]uild/
/Lucas_SuperMario/[Bb]uilds/
/Lucas_SuperMario/[Ll]ogs/
/Lucas_SuperMario/[Uu]ser[Ss]ettings/
/Lucas_SuperMario/[Mm]emoryCaptures/
/Lucas_SuperMario/[Rr]ecordings/
/Lucas_SuperMario/[Aa]ssets/Plugins/Editor/JetBrains*
/Lucas_SuperMario/.vs/
/Lucas_SuperMario/.gradle/
/Lucas_SuperMario/ExportedObj/
/Lucas_SuperMario/.consulo/
/Lucas_SuperMario/*.csproj
/Lucas_SuperMario/*.unityproj
/Lucas_SuperMario/*.sln
/Lucas_SuperMario/*.suo
/Lucas_SuperMario/*.tmp
/Lucas_SuperMario/*.user
/Lucas_SuperMario/*.userprefs
/Lucas_SuperMario/*.pidb
/Lucas_SuperMario/*.booproj
/Lucas_SuperMario/*.svd
/Lucas_SuperMario/*.pdb
/Lucas_SuperMario/*.mdb
/Lucas_SuperMario/*.opendb
/Lucas_SuperMario/*.VC.db
/Lucas_SuperMario/*.pidb.meta
/Lucas_SuperMario/*.pdb.meta
/Lucas_SuperMario/*.mdb.meta
/Lucas_SuperMario/sysinfo.txt
/Lucas_SuperMario/*.apk
/Lucas_SuperMario/*.aab
/Lucas_SuperMario/*.unitypackage
/Lucas_SuperMario/*.app
/Lucas_SuperMario/crashlytics-build.properties
/Lucas_SuperMario/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Lucas_SuperMario/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Lucas_SuperMario/[Aa]ssets/[Ss]treamingAssets/aa/*
2D Car Race_Lucas/Library/
