.vs/
.vscode
/Exemplo/[Ll]ibrary/
/Exemplo/[Tt]emp/
/Exemplo/[Oo]bj/
/Exemplo/[Bb]uild/
/Exemplo/[Bb]uilds/
/Exemplo/[Ll]ogs/
/Exemplo/[Uu]ser[Ss]ettings/
/Exemplo/[Mm]emoryCaptures/
/Exemplo/[Rr]ecordings/
/Exemplo/[Aa]ssets/Plugins/Editor/JetBrains*
/Exemplo/.vs/
/Exemplo/.gradle/
/Exemplo/ExportedObj/
/Exemplo/.consulo/
/Exemplo/*.csproj
/Exemplo/*.unityproj
/Exemplo/*.sln
/Exemplo/*.suo
/Exemplo/*.tmp
/Exemplo/*.users
/Exemplo/*.userprefs
/Exemplo/*.pidb
/Exemplo/*.booproj
/Exemplo/*.svd
/Exemplo/*.pdb
/Exemplo/*.mdb
/Exemplo/*.opendb
/Exemplo/*.VC.db
/Exemplo/*.pidb.meta
/Exemplo/*.pdb.meta
/Exemplo/*.mdb.meta
/Exemplo/sysinfo.txt
/Exemplo/*.apk
/Exemplo/*.aab
/Exemplo/*.unitypackage
/Exemplo/*.app
/Exemplo/crashlytics-build.properties
/Exemplo/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Exemplo/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Exemplo/[Aa]ssets/[Ss]treamingAssets/aa/*

/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Ll]ibrary/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Tt]emp/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Oo]bj/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Bb]uild/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Bb]uilds/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Ll]ogs/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Uu]ser[Ss]ettings/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Mm]emoryCaptures/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Rr]ecordings/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Aa]ssets/Plugins/Editor/JetBrains*
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/.vs/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/.gradle/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/ExportedObj/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/.consulo/
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.csproj
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.unityproj
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.sln
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.suo
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.tmp
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.user
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.userprefs
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.pidb
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.booproj
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.svd
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.pdb
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.mdb
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.opendb
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.VC.db
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.pidb.meta
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.pdb.meta
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.mdb.meta
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/sysinfo.txt
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.apk
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.aab
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.unitypackage
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/*.app
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/crashlytics-build.properties
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Aa]ssets/[Ss]treamingAssets/aa.meta
/O Pobre Zika Das Galaxias 2 - Arthur Pereira/[Aa]ssets/[Ss]treamingAssets/aa/*


/Meu carrinho da Hot Wheels/[Ll]ibrary/
/Meu carrinho da Hot Wheels/[Tt]emp/
/Meu carrinho da Hot Wheels/[Oo]bj/
/Meu carrinho da Hot Wheels/[Bb]uild/
/Meu carrinho da Hot Wheels/[Bb]uilds/
/Meu carrinho da Hot Wheels/[Ll]ogs/
/Meu carrinho da Hot Wheels/[Uu]ser[Ss]ettings/
/Meu carrinho da Hot Wheels/[Mm]emoryCaptures/
/Meu carrinho da Hot Wheels/[Rr]ecordings/
/Meu carrinho da Hot Wheels/[Aa]ssets/Plugins/Editor/JetBrains*
/Meu carrinho da Hot Wheels/.vs/
/Meu carrinho da Hot Wheels/.gradle/
/Meu carrinho da Hot Wheels/ExportedObj/
/Meu carrinho da Hot Wheels/.consulo/
/Meu carrinho da Hot Wheels/*.csproj
/Meu carrinho da Hot Wheels/*.unityproj
/Meu carrinho da Hot Wheels/*.sln
/Meu carrinho da Hot Wheels/*.suo
/Meu carrinho da Hot Wheels/*.tmp
/Meu carrinho da Hot Wheels/*.user
/Meu carrinho da Hot Wheels/*.userprefs
/Meu carrinho da Hot Wheels/*.pidb
/Meu carrinho da Hot Wheels/*.booproj
/Meu carrinho da Hot Wheels/*.svd
/Meu carrinho da Hot Wheels/*.pdb
/Meu carrinho da Hot Wheels/*.mdb
/Meu carrinho da Hot Wheels/*.opendb
/Meu carrinho da Hot Wheels/*.VC.db
/Meu carrinho da Hot Wheels/*.pidb.meta
/Meu carrinho da Hot Wheels/*.pdb.meta
/Meu carrinho da Hot Wheels/*.mdb.meta
/Meu carrinho da Hot Wheels/sysinfo.txt
/Meu carrinho da Hot Wheels/*.apk
/Meu carrinho da Hot Wheels/*.aab
/Meu carrinho da Hot Wheels/*.unitypackage
/Meu carrinho da Hot Wheels/*.app
/Meu carrinho da Hot Wheels/crashlytics-build.properties
/Meu carrinho da Hot Wheels/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Meu carrinho da Hot Wheels/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Meu carrinho da Hot Wheels/[Aa]ssets/[Ss]treamingAssets/aa/*


/Clone Pong/[Ll]ibrary/
/Clone Pong/[Tt]emp/
/Clone Pong/[Oo]bj/
/Clone Pong/[Bb]uild/
/Clone Pong/[Bb]uilds/
/Clone Pong/[Ll]ogs/
/Clone Pong/[Uu]ser[Ss]ettings/
/Clone Pong/[Mm]emoryCaptures/
/Clone Pong/[Rr]ecordings/
/Clone Pong/[Aa]ssets/Plugins/Editor/JetBrains*
/Clone Pong/.vs/
/Clone Pong/.gradle/
/Clone Pong/ExportedObj/
/Clone Pong/.consulo/
/Clone Pong/*.csproj
/Clone Pong/*.unityproj
/Clone Pong/*.sln
/Clone Pong/*.suo
/Clone Pong/*.tmp
/Clone Pong/*.user
/Clone Pong/*.userprefs
/Clone Pong/*.pidb
/Clone Pong/*.booproj
/Clone Pong/*.svd
/Clone Pong/*.pdb
/Clone Pong/*.mdb
/Clone Pong/*.opendb
/Clone Pong/*.VC.db
/Clone Pong/*.pidb.meta
/Clone Pong/*.pdb.meta
/Clone Pong/*.mdb.meta
/Clone Pong/sysinfo.txt
/Clone Pong/*.apk
/Clone Pong/*.aab
/Clone Pong/*.unitypackage
/Clone Pong/*.app
/Clone Pong/crashlytics-build.properties
/Clone Pong/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Clone Pong/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Clone Pong/[Aa]ssets/[Ss]treamingAssets/aa/*

/Arthur Game ADV/[Ll]ibrary/
/Arthur Game ADV/[Tt]emp/
/Arthur Game ADV/[Oo]bj/
/Arthur Game ADV/[Bb]uild/
/Arthur Game ADV/[Bb]uilds/
/Arthur Game ADV/[Ll]ogs/
/Arthur Game ADV/[Uu]ser[Ss]ettings/
/Arthur Game ADV/[Mm]emoryCaptures/
/Arthur Game ADV/[Rr]ecordings/
/Arthur Game ADV/[Aa]ssets/Plugins/Editor/JetBrains*
/Arthur Game ADV/.vs/
/Arthur Game ADV/.gradle/
/Arthur Game ADV/ExportedObj/
/Arthur Game ADV/.consulo/
/Arthur Game ADV/*.csproj
/Arthur Game ADV/*.unityproj
/Arthur Game ADV/*.sln
/Arthur Game ADV/*.suo
/Arthur Game ADV/*.tmp
/Arthur Game ADV/*.user
/Arthur Game ADV/*.userprefs
/Arthur Game ADV/*.pidb
/Arthur Game ADV/*.booproj
/Arthur Game ADV/*.svd
/Arthur Game ADV/*.pdb
/Arthur Game ADV/*.mdb
/Arthur Game ADV/*.opendb
/Arthur Game ADV/*.VC.db
/Arthur Game ADV/*.pidb.meta
/Arthur Game ADV/*.pdb.meta
/Arthur Game ADV/*.mdb.meta
/Arthur Game ADV/sysinfo.txt
/Arthur Game ADV/*.apk
/Arthur Game ADV/*.aab
/Arthur Game ADV/*.unitypackage
/Arthur Game ADV/*.app
/Arthur Game ADV/crashlytics-build.properties
/Arthur Game ADV/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Arthur Game ADV/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Arthur Game ADV/[Aa]ssets/[Ss]treamingAssets/aa/*