.vs/
.vscode
/Exemplo/[Ll]ibrary/
/Exemplo/[Tt]emp/
/Exemplo/[Oo]bj/
/Exemplo/[Bb]uild/
/Exemplo/[Bb]uilds/
/Exemplo/[Ll]ogs/
/Exemplo/[Uu]ser[Ss]ettings/
/Exemplo/[Mm]emoryCaptures/
/Exemplo/[Rr]ecordings/
/Exemplo/[Aa]ssets/Plugins/Editor/JetBrains*
/Exemplo/.vs/
/Exemplo/.gradle/
/Exemplo/ExportedObj/
/Exemplo/.consulo/
/Exemplo/*.csproj
/Exemplo/*.unityproj
/Exemplo/*.sln
/Exemplo/*.suo
/Exemplo/*.tmp
/Exemplo/*.users
/Exemplo/*.userprefs
/Exemplo/*.pidb
/Exemplo/*.booproj
/Exemplo/*.svd
/Exemplo/*.pdb
/Exemplo/*.mdb
/Exemplo/*.opendb
/Exemplo/*.VC.db
/Exemplo/*.pidb.meta
/Exemplo/*.pdb.meta
/Exemplo/*.mdb.meta
/Exemplo/sysinfo.txt
/Exemplo/*.apk
/Exemplo/*.aab
/Exemplo/*.unitypackage
/Exemplo/*.app
/Exemplo/crashlytics-build.properties
/Exemplo/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Exemplo/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Exemplo/[Aa]ssets/[Ss]treamingAssets/aa/*

/*/[Ll]ibrary/
My Top Shooter - Arthur P/My 2D Fighting rosa/Library/

My Top Shooter - Arthur P/My 2D Fighting rosa/Packages/

My Top Shooter - Arthur P/My 2D Fighting rosa/ProjectSettings/

My Top Shooter - Arthur P/ProjectSettings/

My Top Shooter - Arthur P/AstarPathfindingProject.csproj

My Top Shooter - Arthur P/AstarPathfindingProjectEditor.csproj

My Top Shooter - Arthur P/PackageToolsEditor.csprojv

Arthur Game ADV/New Piskel.piskel
